= link_to root_path do
  h2 Search in SNS
#search-form
  .input-append
    input#appended-input-button.span4 type="text" name="q"
    button#search-button.btn type="button"
      i.icon-search
#search-results

javascript:
  faye = new Faye.Client("http://aqueous-lowlands-8670.herokuapp.com:8081/faye");
  faye.subscribe("/search/#{request.session_options[:id]}", function(json) {
    results = json.result
    for (var i=0; i<results.length; i++){
      result = results[i]
      console.log(result);
      $("#search-results").prepend(window.Result.to_html(result));
    }
  });
  $('#search-button').click(function(){
    $("#search-results").html('')
    $.getJSON('/search',{q : $('#appended-input-button').val()},function(){});
  });

